# Variables de Entorno del Frontend

NEXT_PUBLIC_API_URL="http://localhost:3001/api/v1"
NEXT_PUBLIC_R2_PUBLIC_URL="https://pub-xxx.r2.dev"
NEXT_PUBLIC_APP_NAME="ERP ZENITH"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
