DATABASE_URL="postgresql://neondb_owner:npg_0PLXInp9bTGW@ep-super-dawn-ann67d0y-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="your-256-bit-secret"
JWT_EXPIRES_IN="7d"
PORT=3001
NODE_ENV=development
FRONTEND_URL="http://localhost:3000"
CLOUDFLARE_R2_ACCOUNT_ID=""
CLOUDFLARE_R2_ACCESS_KEY=""
CLOUDFLARE_R2_SECRET_KEY=""
CLOUDFLARE_R2_BUCKET="erpzenith-files"
GEMINI_API_KEY=""
GROQ_API_KEY=""
HUGGINGFACE_API_KEY=""
